#include "automaton.h"
#include "lexer.h"

#define U(N, P) TRANS_AND_PUSH(N, P)
#define O(N) TRANS_AND_POP(N)
#define T(N) TRANS(N)

/*
Here
*/

t_automaton		*lexer_init_automaton(t_automaton *a)
{
	return (automaton_init(
				a,
				CREATE_ARRAY_3D(g_transition_table)));
}
